<section class="adventeges section">
  <div class="container">
    <h2 class="visually-hidden">adventeges</h2>
    <ul class="adventeges__list list">
      <li class="adventeges__item adventeges__thumb--cow">
        
          <p class="adventeges__title increasing-number">721</p>
          <p class="adventeges__txt">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        
      </li>
      <li class="adventeges__item adventeges__thumb--weight">
        
          <p class="adventeges__title">
            <span class="increasing-number">16</span>kg
          </p>
          <p class="adventeges__txt">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
       
      </li>
      <li class="adventeges__item adventeges__thumb--ice">
        
          <p class="adventeges__title increasing-number">84</p>
          <p class="adventeges__txt">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        
      </li>
    </ul>
    <div class="visually-hidden anchor" id="counter-advantages"></div>
  </div>
</section>
