<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">contacts</h2>
    <ul class="contacts__list ">
      <li class="contacts__item">
        <strong class="contacts__store">CAFE</strong>
        <div class="contacts__location">
          <strong class="contacts_sity">Chicago</strong>
          <a class="contacts__address link" href="https://goo.gl/maps/NzjVngGFKGJuh6jx8" target="_blank" >
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </a>
        </div>
        <ul class="contacts__opening-hours ">
          <li class="contacts__opening-hours_item">
            <strong class="contacts__day">Monday - Friday</strong>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__opening-hours_item">
            <strong class="contacts__day">Saturday - Sunday</strong>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__mail-tel ">
          <li class="contacts__mail-tel_item">
            <a class="contacts__link contacts__link-tel link" href="tel:+610383766284">
              +61(0) 383 766 284
            </a>
          </li>
          <li class="contacts__mail-tel_item">
            <a class="contacts__link contacts__link-mail link" href="mailto:noreply@envato.com">
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <strong class="contacts__store">FOOD TRUCK</strong>
        <div class="contacts__location">
          <strong class="contacts_sity">Los Angeleso</strong>
          <a class="contacts__address link" href="https://goo.gl/maps/9VMR8gFhawKpjaDf8" target="_blank">
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </a>
        </div>
        <ul class="contacts__opening-hours ">
          <li class="contacts__opening-hours_item">
            <strong class="contacts__day">Monday - Friday</strong>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__opening-hours_item">
            <strong class="contacts__day">Saturday - Sunday</strong>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__mail-tel ">
          <li class="contacts__mail-tel_item">
            <a class="contacts__link contacts__link-tel link" href="tel:+610383766284">
              +61(0) 383 766 284
            </a>
          </li>
          <li class="contacts__mail-tel_item">
            <a class="contacts__link contacts__link-mail link" href="mailto:noreply@envato.com">
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <strong class="contacts__store">CAFE</strong>
        <div class="contacts__location">
          <strong class="contacts_sity">New York</strong>
          <a class="contacts__address link" href="https://goo.gl/maps/Nw3PozwL3XJPpUVd7" target="_blank">
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </a>
        </div>
        <ul class="contacts__opening-hours ">
          <li class="contacts__opening-hours_item">
            <strong class="contacts__day">Monday - Friday</strong>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__opening-hours_item">
            <strong class="contacts__day">Saturday - Sunday</strong>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__mail-tel ">
          <li class="contacts__mail-tel_item">
            <a class="contacts__link contacts__link-tel link" href="tel:+610383766284">
              +61(0) 383 766 284
            </a>
          </li>
          <li class="contacts__mail-tel_item">
            <a class="contacts__link contacts__link-mail link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__buttons-list " >
        <li class="contacts__buttons_item"> 
          <button class="contacts__button contacts__button--one" type="button" data-modal-map-open>
            Our Locations
            <svg class="contacts__icon" width="12" height="12">
            <use href="./image/icons.svg#after-element" ></use>
            </svg>
          </button> 
        </li>
        <li class="contacts__buttons_item">
           <button class="contacts__button contacts__button--two" type="button" data-modal-fran-open>
            Franchise
            <svg class="contacts__icon" width="12" height="12">
            <use href="./image/icons.svg#after-element" ></use>
            </svg>
          </button>
         </li>
    </ul>
  </div>
</section>