<section id="customer-reviews" class="customer-reviews section">
  <div class="container customer-reviews__container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="slider">
      <a class="slider__prev sliderPrev">&#10094;</a>
      <article class="slider__item">
        <h3 class="visually-hidden">Nikita</h3>
        <div class="customer-reviews__image">
          <img
            class="team__img image"
            srcset="
              ./image/team/nikita.jpg     85w,
              ./image/team/nikita@2x.jpg 170w
            "
            sizes="85px"
            src="./image/team/nikita.jpg"
            alt="Nikita"
            width="85"
            height="85"
          />
        </div>
        <p class="customer-reviews__text">
          Nikita is our Teamlead. He did a huge amount of work, in particular
          main structure of project, made html and sass partials, wrote base
          styles and confirmed many many reviews!
        </p>
        <p class="customer-reviews__address">Nikita, Odesa</p>
      </article>
      <article class="slider__item">
        <h3 class="visually-hidden">Evgeniy</h3>
        <div class="customer-reviews__image">
          <img
            class="team__img image"
            srcset="./image/team/evgeniy.jpg 85w, ./image/team/evgeniy.jpg 170w"
            sizes="85px"
            src="./image/team/evgeniy.jpg"
            alt="Evgeniy"
            width="85"
            height="85"
          />
        </div>
        <p class="customer-reviews__text">
          Evgeniy is our Scrum Master. Thanks to him, the daily standup turned
          into convenient and useful pastime for our team. He created cards in
          Trello, helped with optimization images and sprite and made
          presentation.
        </p>
        <p class="customer-reviews__address">Evgeniy, Odesa</p>
      </article>
      <article class="slider__item">
        <h3 class="visually-hidden">Aleks</h3>
        <div class="customer-reviews__image">
          <img
            class="team__img image"
            srcset="./image/team/aleks.jpg 85w, ./image/team/aleks@2x.jpg 170w"
            sizes="85px"
            src="./image/team/aleks.jpg"
            alt="Aleks"
            width="85"
            height="85"
          />
        </div>
        <p class="customer-reviews__text">
          Aleks created blured fixed Header, worked on section "Hero", made
          Burger menu, button "Up" and favicon for our website :)
        </p>
        <p class="customer-reviews__address">Aleks, Kyiv</p>
      </article>
      <article class="slider__item">
        <h3 class="visually-hidden">Vitalik</h3>
        <div class="customer-reviews__image">
          <img
            class="team__img image"
            srcset="
              ./image/team/vitalik.jpg     85w,
              ./image/team/vitalik@2x.jpg 170w
            "
            sizes="85px"
            src="./image/team/vitalik.jpg"
            alt="Vitalik"
            width="85"
            height="85"
          />
        </div>
        <p class="customer-reviews__text">
          Vitalik made beautiful cards in section "Products". He has always
          liked new technologies, and during the last couple of years, he
          noticed that the IT industry is developing and it gave him an
          incentive to study at GoIT. :)
        </p>
        <p class="customer-reviews__address">Vitalik, Lviv</p>
      </article>
      <article class="slider__item">
        <h3 class="visually-hidden">Peter</h3>
        <div class="customer-reviews__image">
          <img
            class="team__img image"
            srcset="./image/team/peter.jpg 85w, ./image/team/peter@2x.jpg 170w"
            sizes="85px"
            src="./image/team/peter.jpg"
            alt="Peter"
            width="85"
            height="85"
          />
        </div>
        <p class="customer-reviews__text">
          Peter got into IT industry due to moving to Dnipro city. In the group
          project he worked on section "About".
        </p>
        <p class="customer-reviews__address">Peter, Severdonetsk</p>
      </article>
      <article class="slider__item">
        <h3 class="visually-hidden">Semen</h3>
        <div class="customer-reviews__image">
          <img
            class="team__img image"
            srcset="./image/team/semen.jpg 85w, ./image/team/semen@2x.jpg 170w"
            sizes="85px"
            src="./image/team/semen.jpg"
            alt="Semen"
            width="85"
            height="85"
          />
        </div>
        <p class="customer-reviews__text">
          Semen worked on section "Advantages". <br />
          "- Winter is coming & ice cream stops melting".
        </p>
        <p class="customer-reviews__address">Semen, Chicago</p>
      </article>
      <article class="slider__item">
        <h3 class="visually-hidden">Yehor</h3>
        <div class="customer-reviews__image">
          <img
            class="team__img image"
            srcset="./image/team/egor.jpg 85w, ./image/team/egor@2x.jpg 170w"
            sizes="85px"
            src="./image/team/egor.jpg"
            alt="Egor"
            width="85"
            height="85"
          />
        </div>
        <p class="customer-reviews__text">
          Yehor worked on section "Gallery", added pagination and JS script for
          scrolling sliders.
        </p>
        <p class="customer-reviews__address">Yehor, Mariupol</p>
      </article>
      <article class="slider__item">
        <h3 class="visually-hidden">Anastasia</h3>
        <div class="customer-reviews__image">
          <img
            class="team__img image"
            srcset="
              ./image/team/anastasia.jpg     85w,
              ./image/team/anastasia@2x.jpg 170w
            "
            sizes="85px"
            src="./image/team/anastasia.jpg"
            alt="Anastasia"
            width="85"
            height="85"
          />
        </div>
        <p class="customer-reviews__text">
          Anastasia's work included section "Custom Reviews" with pagination and
          JS scripts for scrolling sliders and counter, she also wrote
          variables. :)
        </p>
        <p class="customer-reviews__address">Anastasia, Kolomyia</p>
      </article>
      <article class="slider__item">
        <h3 class="visually-hidden">Ivan</h3>
        <div class="customer-reviews__image">
          <img
            class="team__img image"
            srcset="./image/team/ivan.jpg 85w, ./image/team/ivan@2x.jpg 170w"
            sizes="85px"
            src="./image/team/ivan.jpg"
            alt="Ivan"
            width="85"
            height="85"
          />
        </div>
        <p class="customer-reviews__text">
          Ivan made beautiful cards in section "Contacts" and added custom
          cursor. :) "If you think programming is a dance with a drum, you are
          not mistaken. - A student of GoIT" <br />
        </p>
        <p class="customer-reviews__address">Ivan, Kharkiv</p>
      </article>
      <article class="slider__item">
        <h3 class="visually-hidden">Oleksandr</h3>
        <div class="customer-reviews__image">
          <img
            class="team__img image"
            srcset="
              ./image/team/aleksandr.jpg     85w,
              ./image/team/aleksandr@2x.jpg 170w
            "
            sizes="85px"
            src="./image/team/aleksandr.jpg"
            alt="Aleksandr"
            width="85"
            height="85"
          />
        </div>
        <p class="customer-reviews__text">
          Aleksandr worked on Footer. He decided to study IT, because it was the
          time to change something in his life, and in general, he always
          dreamed of mastering some profession in this field.
        </p>
        <p class="customer-reviews__address">Aleksandr, Uman</p>
      </article>
      <article class="slider__item">
        <h3 class="visually-hidden">Slava</h3>
        <div class="customer-reviews__image">
          <img
            class="team__img image"
            srcset="./image/team/slava.jpg 85w, ./image/team/slava@2x.jpg 170w"
            sizes="85px"
            src="./image/team/slava.jpg"
            alt="Slava"
            width="85"
            height="85"
          />
        </div>
        <p class="customer-reviews__text">
          Slava made all of modal windows. He has been working as an
          engineer-designer of roads for more than 18 years. The work is
          interesting, but mostly not necessary, especially in difficult times.
          It's Time for a Life Change!
        </p>
        <p class="customer-reviews__address">Slava, Kyiv</p>
      </article>
      <a class="slider__next sliderNext">&#10095;</a>
    </div>
    <ul class="customer-reviews__pagination list">
      <li class="slider-dots__item slider-dots" data-number="1">
        <svg
          class="customer-reviews__dot dots"
          width="12"
          height="12"
          aria-label="Switch sliders"
        >
          <use href="./image/icons.svg#pagination"></use>
        </svg>
      </li>
      <li class="slider-dots__item slider-dots" data-number="2">
        <svg
          class="customer-reviews__dot dots"
          width="12"
          height="12"
          aria-label="Switch sliders"
        >
          <use href="./image/icons.svg#pagination"></use>
        </svg>
      </li>
      <li class="slider-dots__item slider-dots" data-number="3">
        <svg
          class="customer-reviews__dot dots"
          width="12"
          height="12"
          aria-label="Switch sliders"
        >
          <use href="./image/icons.svg#pagination"></use>
        </svg>
      </li>
      <li class="slider-dots__item slider-dots" data-number="4">
        <svg
          class="customer-reviews__dot dots"
          width="12"
          height="12"
          aria-label="Switch sliders"
        >
          <use href="./image/icons.svg#pagination"></use>
        </svg>
      </li>
      <li class="slider-dots__item slider-dots" data-number="5">
        <svg
          class="customer-reviews__dot dots"
          width="12"
          height="12"
          aria-label="Switch sliders"
        >
          <use href="./image/icons.svg#pagination"></use>
        </svg>
      </li>
      <li class="slider-dots__item slider-dots" data-number="6">
        <svg
          class="customer-reviews__dot dots"
          width="12"
          height="12"
          aria-label="Switch sliders"
        >
          <use href="./image/icons.svg#pagination"></use>
        </svg>
      </li>
      <li class="slider-dots__item slider-dots" data-number="7">
        <svg
          class="customer-reviews__dot dots"
          width="12"
          height="12"
          aria-label="Switch sliders"
        >
          <use href="./image/icons.svg#pagination"></use>
        </svg>
      </li>
      <li class="slider-dots__item slider-dots" data-number="8">
        <svg
          class="customer-reviews__dot dots"
          width="12"
          height="12"
          aria-label="Switch sliders"
        >
          <use href="./image/icons.svg#pagination"></use>
        </svg>
      </li>
      <li class="slider-dots__item slider-dots" data-number="9">
        <svg
          class="customer-reviews__dot dots"
          width="12"
          height="12"
          aria-label="Switch sliders"
        >
          <use href="./image/icons.svg#pagination"></use>
        </svg>
      </li>
      <li class="slider-dots__item slider-dots" data-number="10">
        <svg
          class="customer-reviews__dot dots"
          width="12"
          height="12"
          aria-label="Switch sliders"
        >
          <use href="./image/icons.svg#pagination"></use>
        </svg>
      </li>
      <li class="slider-dots__item slider-dots" data-number="11">
        <svg
          class="customer-reviews__dot dots"
          width="12"
          height="12"
          aria-label="Switch sliders"
        >
          <use href="./image/icons.svg#pagination"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
