<div id="footer" class="footer">
  <div class="container">
  <div class="footer__top">
    <div class="footer__name">
        <p class="footer__name--org">homemade ice cream made</p>
        <p class="footer__name--big">with passion</p>
    </div>
    <div class="footer__socials">
      <ul class="footer__socials-list">
        <li class="footer__socials-item list">
          <a class="footer__socials-link link" href="https://github.com" target="_blank" rel="noopener noreferrer"
            aria-label="Github">
            <svg class="footer__socials-icon" width="32" height="32">
              <use href="./image/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__socials-item list">
          <a class="footer__socials-link link" href="https://web.telegram.org/" aria-label="Telegram"
            target="_blank" rel="noopener noreferrer">
            <svg class="footer__socials-icon" width="32" height="32">
              <use href="./image/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__socials-item list">
          <a class="footer__socials-link link" href="https://facebook.com" aria-label="Facebook" target="_blank"
            rel="noopener noreferrer">
            <svg class="footer__socials-icon" width="32" height="32">
              <use href="./image/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer__socials-contact">
        <p>Feel free to contact&nbsp;</p>
        <a class="footer__socials-contact-link link" href="tel:+610383766284">&nbsp;+61 (0) 383 766 284</a>
      </div>
    </div>
  </div>
  <div class="footer__end">
    <p>&copy; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</div>
</div>