<div class="header" data-header>
  <div class="container header__container">
    <a class="logo" href="./index.html">
      <picture>
        <source
          srcset="
            ./image/hero/desctop/logo/logo-desctop.webp    1x,
            ./image/hero/desctop/logo/logo-desctop@2x.webp 2x,
            ./image/hero/desctop/logo/logo-desctop@3x.webp 3x
          "
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./image/hero/desctop/logo/logo-desctop.png    1x,
            ./image/hero/desctop/logo/logo-desctop@2x.png 2x,
            ./image/hero/desctop/logo/logo-desctop@3x.png 3x
          "
          type="image/png"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./image/hero/tablet/logo/logo-tablet.webp    1x,
            ./image/hero/tablet/logo/logo-tablet@2x.webp 2x,
            ./image/hero/tablet/logo/logo-tablet@3x.webp 3x
          "
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./image/hero/tablet/logo/logo-tablet.png    1x,
            ./image/hero/tablet/logo/logo-tablet@2x.png 2x,
            ./image/hero/tablet/logo/logo-tablet@3x.png 3x
          "
          type="image/png"
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./image/hero/mobile/logo/logo-mobile.webp    1x,
            ./image/hero/mobile/logo/logo-mobile@2x.webp 2x,
            ./image/hero/mobile/logo/logo-mobile@3x.webp 3x
          "
          type="image/webp"
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./image/hero/mobile/logo/logo-mobile.png    1x,
            ./image/hero/mobile/logo/logo-mobile@2x.png 2x,
            ./image/hero/mobile/logo/logo-mobile@3x.png 3x
          "
          type="image/png"
          media="(max-width: 767px)"
        />

        <img
          class="logo__image"
          src="./image/hero/mobile/logo/logo-mobile.png"
          alt="logo"
          width="41"
          height="38"
        />
      </picture>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#home">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#products">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="btn-wrapper">
      <button
        class="open-menu-btn js-open-menu"
        type="button"
        aria-expanded="false"
        aria-label="Кнопка мобільного меню"
      >
        <svg
          class="open-menu-btn__icon"
          width="32"
          height="32"
          aria-label="Перемикач мобільного меню"
        >
          <use href="./image/icons.svg#mobile-menu"></use>
        </svg>
      </button>
      <button
        class="header__btn buy-now-btn"
        type="button"
        id="data-modal-buy-open"
      >
        Buy now
        <svg width="12" height="12">
          <use href="./image/icons.svg#after-element"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
