<section class="section hero" id="home">
  <div class="container">
    <h1 class="title">
      ice cream made with <span class="title--bigger-size">passion</span>
    </h1>
    <ul class="hero__link-list">
      <li class="hero__link-item">
        <a class="hero__link hero__link--border" href="#products">Products</a>
      </li>
      <li class="hero__link-item">
        <a class="hero__link hero__link--underline" href="#about"
          >How it’s made?</a
        >
      </li>
    </ul>

    <div class="hero__wrapper">
      <picture>
        <source
          srcset="
            ./image/hero/desctop/plate-ice-cream-desctop.webp    1x,
            ./image/hero/desctop/plate-ice-cream-desctop@2x.webp 2x,
            ./image/hero/desctop/plate-ice-cream-desctop@3x.webp 3x
          "
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./image/hero/desctop/plate-ice-cream-desctop.png    1x,
            ./image/hero/desctop/plate-ice-cream-desctop@2x.png 2x,
            ./image/hero/desctop/plate-ice-cream-desctop@3x.png 3x
          "
          type="image/png"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./image/hero/tablet/plate-ice-cream-tablet.webp    1x,
            ./image/hero/tablet/plate-ice-cream-tablet@2x.webp 2x,
            ./image/hero/tablet/plate-ice-cream-tablet@3x.webp 3x
          "
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./image/hero/tablet/plate-ice-cream-tablet.png    1x,
            ./image/hero/tablet/plate-ice-cream-tablet@2x.png 2x,
            ./image/hero/tablet/plate-ice-cream-tablet@3x.png 3x
          "
          type="image/png"
          media="(min-width: 768px)"
        />

        <img
          class="hero__img-plate"
          src="./image/hero/tablet/plate-ice-cream-tablet.png"
          alt="white plate with colorful balls of ice cream and fruits"
          width="152"
          height="152"
        />
      </picture>
      <div class="hero__desc-box">
        <p class="hero__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <svg class="hero__icon" width="40px" height="15px">
          <use href="./image/icons.svg#icon-Arrow-1"></use>
        </svg>
      </div>
    </div>
    <ul class="hero__chain-list">
      <li class="hero__chain-item">
        <span class="hero__chain-counter increasing-number">16</span> cafes
      </li>
      <li class="hero__chain-item">
        <span class="hero__chain-counter increasing-number">23</span> food
        trucks
      </li>
    </ul>

    <picture>
      <source
        srcset="
          ./image/hero/desctop/ice-cream-484.webp    1x,
          ./image/hero/desctop/ice-cream-484@2x.webp 2x,
          ./image/hero/desctop/ice-cream-484@3x.webp 3x
        "
        type="image/webp"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./image/hero/desctop/ice-cream-484.png    1x,
          ./image/hero/desctop/ice-cream-484@2x.png 2x,
          ./image/hero/desctop/ice-cream-484@3x.png 3x
        "
        type="image/png"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./image/hero/tablet/ice-cream-270.webp    1x,
          ./image/hero/tablet/ice-cream-270@2x.webp 2x,
          ./image/hero/tablet/ice-cream-270@3x.webp 3x
        "
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./image/hero/tablet/ice-cream-270.png    1x,
          ./image/hero/tablet/ice-cream-270@2x.png 2x,
          ./image/hero/tablet/ice-cream-270@3x.png 3x
        "
        type="image/png"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./image/hero/mobile/ice-cream-mobile.webp    1x,
          ./image/hero/mobile/ice-cream-mobile@2x.webp 2x,
          ./image/hero/mobile/ice-cream-mobile@3x.webp 3x
        "
        type="image/webp"
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./image/hero/mobile/ice-cream-mobile.png    1x,
          ./image/hero/mobile/ice-cream-mobile@2x.png 2x,
          ./image/hero/mobile/ice-cream-mobile@3x.png 3x
        "
        type="image/png"
        media="(max-width: 767px)"
      />

      <img
        class="hero__img"
        src="./image/hero/mobile/ice-cream-mobile.png"
        alt="an ice cream cone with three colorful balls with funny emoticons on each ball"
        width="276"
        height="326"
      />
    </picture>

    <picture>
      <source
        srcset="
          ./image/hero/desctop/hero-decorations/hero-dec-desctop.webp    1x,
          ./image/hero/desctop/hero-decorations/hero-dec-desctop@2x.webp 2x,
          ./image/hero/desctop/hero-decorations/hero-dec-desctop@3x.webp 3x
        "
        type="image/webp"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./image/hero/desctop/hero-decorations/hero-dec-desctop.png    1x,
          ./image/hero/desctop/hero-decorations/hero-dec-desctop@2x.png 2x,
          ./image/hero/desctop/hero-decorations/hero-dec-desctop@3x.png 3x
        "
        type="image/png"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./image/hero/tablet/hero-decorations/hero-dec-tablet.webp    1x,
          ./image/hero/tablet/hero-decorations/hero-dec-tablet@2x.webp 2x,
          ./image/hero/tablet/hero-decorations/hero-dec-tablet@3x.webp 3x
        "
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./image/hero/tablet/hero-decorations/hero-dec-tablet.png    1x,
          ./image/hero/tablet/hero-decorations/hero-dec-tablet@2x.png 2x,
          ./image/hero/tablet/hero-decorations/hero-dec-tablet@3x.png 3x
        "
        type="image/png"
        media="(min-width: 768px)"
      />

      <source
        srcset="
          ./image/hero/mobile/hero-decorations/hero-dec-mobile.webp    1x,
          ./image/hero/mobile/hero-decorations/hero-dec-mobile@2x.webp 2x,
          ./image/hero/mobile/hero-decorations/hero-dec-mobile@3x.webp 3x
        "
        type="image/webp"
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./image/hero/mobile/hero-decorations/hero-dec-mobile.png    1x,
          ./image/hero/mobile/hero-decorations/hero-dec-mobile@2x.png 2x,
          ./image/hero/mobile/hero-decorations/hero-dec-mobile@3x.png 3x
        "
        type="image/png"
        media="(max-width: 767px)"
      />

      <img
        class="hero__img-decoration"
        src="./image/hero/mobile/hero-decorations/hero-dec-mobile.png"
        alt=""
        width="320"
        height="50"
      />
    </picture>
  </div>
  <div class="btn-up btn-up_hide"></div>
  <div class="visually-hidden anchor" id="counter-hero"></div>
</section>
