<!-- Read more modal -->
<div class="backdrop is-hidden" data-modal-read>
  <div class="modal">
    <button class="button-close" type="button" data-modal-read-close>
      <svg class="button-close__icon">
        <use href="./image/icons.svg#modal-close"></use>
      </svg>
    </button>
    <strong class="modal__title modal__title-read">How it’s made?</strong>
    <iframe
      class="modal__video"
      src="https://www.youtube.com/embed/luAalhez2Dk"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      rel="noopener noreferrer"
    >
    </iframe>
    <p class="modal__text">
      Ice cream is a sweetened frozen food typically eaten as a snack or
      dessert. It may be made from milk or cream and is flavoured with a
      sweetener, either sugar or an alternative, and a spice, such as cocoa or
      vanilla, or with fruit such as strawberries or peaches. It can also be
      made by whisking a flavored cream base and liquid nitrogen together.
    </p>
  </div>
</div>

<script src="./js/modal-read.js"></script>
