<!-- Our Locations modal  -->
<div class="backdrop is-hidden" data-modal-map>
  <div class="modal modal-location">
    <button class="button-close" type="button" data-modal-map-close>
      <svg class="button-close__icon">
        <use href="./image/icons.svg#modal-close"></use>
      </svg>
    </button>
    <strong class="modal__title modal__title-location">Our Locations</strong>
    <!-- Chicago -->
    <div class="location">
      <iframe
        class="location__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11915.098470020512!2d-87.79095833923584!3d41.70380096088078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2zMTAzNDAgUmlkZ2VsYW5kIEF2ZSwgQ2hpY2FnbyBSaWRnZSwgSUwgNjA0MTUsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sua!4v1666177481814!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        rel="noopner noreferrer"
      >
      </iframe>
      <p class="location__object">CAFE</p>
      <p class="location__city">Chicago</p>
      <div class="button-link">
        <a
          class="btn-link"
          href="https://goo.gl/maps/DiwfppoMjjVncjJ39"
          rel="noopner noreferrer"
        >
          Open map
        </a>
      </div>
    </div>

    <!-- Los Angeles -->
    <div class="location">
      <iframe
        class="location__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6624.531825355901!2d-118.41203448272614!3d33.88280482563339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b3eca6743829%3A0x98448969b9b4373d!2zMTAwMyBNYW5oYXR0YW4gQXZlLCBNYW5oYXR0YW4gQmVhY2gsIENBIDkwMjY2LCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1666175533831!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        rel="noopner noreferrer"
      >
      </iframe>
      <p class="location__object">FOODTRUCK</p>
      <p class="location__city">Los Angeles</p>
      <div class="button-link">
        <a
          class="btn-link"
          href="https://goo.gl/maps/utuWDH2HqzNNzAEh7"
          rel="noopner noreferrer"
        >
          Open map
        </a>
      </div>
    </div>

    <!-- New York -->
    <div class="location">
      <iframe
        class="location__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6052.130517876802!2d-73.95826379257566!3d40.67253104183572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b9e1735b38f%3A0xb5fe454b88e9c2c0!2zNzI2IFN0ZXJsaW5nIFBsLCBCcm9va2x5biwgTlkgMTEyMTYsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sua!4v1666175792248!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        rel="noopner noreferrer"
      >
      </iframe>
      <p class="location__object">CAFE</p>
      <p class="location__city">New York</p>
      <div class="button-link">
        <a
          class="btn-link"
          href="https://goo.gl/maps/H2hrSVa72aGoFmXj8"
          rel="noopner noreferrer"
        >
          Open map
        </a>
      </div>
    </div>
  </div>
</div>
<script src="./js/modal-map.js"></script>
